/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {	
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/*Seccion Nav*/
.bg-header{
    background-image: url('../img/carousel1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#navegacion a {
    color: white;
    text-decoration: none;
  }


/*Seccion footer*/
footer a {
    color: white;
    text-decoration: none;
  }


  /* Agrega fondo suave al navbar cuando se hace scroll */
.navbar-scroll {
    background-color: rgba(32, 166, 164, 0.8); /* Color de fondo suave */
    transition: background-color 0.3s; /* Transición suave */
}